<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="nav">
    <h1><a href="/">URL BUTCHERS {BETA}</a></h1>
    <ul>
    <% if current_user %><%= "<li><a href='/session/logout'>logout</a></li>" %><% end %>
    <% unless current_user %><%= "<li><a href='/session/login'>login</a></li>" %><% end %>
    <% unless current_user %><%= "<li><a href='/signup'>sign up</a></li>" %><% end %>
  </ul>
</div>
  <%= yield %>
</body>
<footer><a href="http://sidazhang.com/">Sidney Zhang & </a><a href="http://binaryskipper.tumblr.com">Stephen Nguyen<a/> DEVBOOTCAMP 2013. </footer>
</html>
