<div class="container">
  <h1>Welcome to URL Butchers!</h1>
  <p>We can't wait until you log in</p>
  <form method="post" action='/session/create'>
    <input type="text" name="email" placeholder="Email Address">
    <input type="password" name="password" placeholder="Your Password">
    <input type="submit" value="Log In!">
  </form>
</div>
